<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--    文件读写权限-->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPS"
        android:requestLegacyExternalStorage="true"

        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



        <service android:name="edu.swpu.gps.TestOneService" >
        </service>
        <service android:name="edu.swpu.gps.TestOneService222" >
        </service>

        <service android:name="edu.swpu.gps.music_Play_Service" >
        </service>

        <service android:name="edu.swpu.gps.MUSICSEVER2" >
        </service>


        <receiver android:name=".MyReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 指定该BroadcastReceiver所响应的Intent的Action -->
                <action android:name="org.crazyit.action.CRAZY_BROADCAST" />
            </intent-filter>
        </receiver>




        <activity
            android:name="edu.swpu.gps.musicplayer2"
            android:exported="true" />

        <activity
            android:name="edu.swpu.gps.musicplayer3"
            android:exported="true" />
    </application>

</manifest>